body{
    margin: 0px;
}

#box{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: greenyellow;

    padding: 20px;
    margin: 20px;
    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; */
}

#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background-color: dodgerblue;
}