body{
    /* background-color: skyblue; */
    /* background: linear-gradient(skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background: linear-gradient(to right, skyblue, lightgreen); */
    background-image: url("img-grid-2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    background: linear-gradient(to right, skyblue, white); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    background: linear-gradient(to left, skyblue, white); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}